# React Native
node_modules/
.buckconfig
.gradle/
.idea/
build/
*.iml
*.hprof
*.orig
*.log
*.lock
*.patch
*.un~
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Android
android/.gradle
android/app/build
android/build
